@media only screen and (min-width : 320px) and (max-width : 766px){
//article------------------------------------------------------------------------
	//nav
	nav{
		position: fixed;
		width: 100%;
		height: 55px;
	}
	//логотип
	.logo{
		width: 235px;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		//background: #E1BA44;
		img{
			position: relative;
			top: 2px;
			height: 50px;
			left: 0;
		}
	}
	//менюшка
	.hamburger-menu{
		height: 0;
	}
	#menu__toggle {
	  opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}

	.menu__btn {
	  display: flex;
	  align-items: center;
	  position: fixed;
	  top: 14px;
	  left: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #E4E6E8;
	  transition-duration: .25s;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 200px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  background-color: #202833;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  transition-duration: .25s;
	}

	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #64FDF1;
	  font-size: 20px;
	  font-weight: 600;
	  text-decoration: none;
	  transition-duration: .25s;
	}
	.menu__item:hover {
	  color: #E4E6E8;
	}
	//поиск
	#find{
		position: relative;
		top: 12px;
		float: right;
		right: 50px;
		width: 30px;
		height: 30px;
		svg{
			width: 30px;
			height: 30px;
		}
		//background: #B0E074;
	}
	.icon{
		height: 30px;
		width: 30px;
		margin: 0;
		img{
			height: 30px;
			width: 30px;
		}
		//background: #D740C4;
	}
	#okno {
		margin-top: 55px;;
	}
	#form_normal_size{
		input{
			width: 300px;
			height: 70px;
			margin: 30px 0 0 0;
			font-size: 13px;
		}
	}
	//крестик закрытия модального окна
	.close {
		img{
			height: 25px;
			width: 25px;
			margin: 52px 0 0 0;
		}
	}
	//иконка входа/выхода
	#login{
		position: relative;
		top: 12px;
		float: right;
		right: -15px;
		width: 30px;
		height: 55px;
		svg{
			width: 30px;
			height: 30px;
		}
		//background: #5C2656;
	}
	.endicon{
		margin: 0;
	}
	menu{
		display: none;
	}
	.hamburger-menu{
		display: block;
	}
	#user_form{
		input{
			width: 235px;
		}
		textarea{
			width: 235px;
		}
	}
	#maintext_content_det{
		height: 380px;
	}
	#mainimg_content_det{
		width: 250px;
		height: 250px;
		float: none;
		margin: 0 auto;
	}
	#title_det{
		float: none;
		width: auto;
		margin: 8px auto;
		height: 75px;
		text-align: center;
	}
	.corner_det{
		height: 15px;
		width: 15px;
	}
	.param_art_det{
		width: 100%;
		height: 30px;
		float: none;
		margin: 0;
	}
	.views_det{
		width: 33%;
		height: 100%;
		float: left;
		text-align: center;
	}
	.likes_det{
		width: 33%;
		height: 100%;
		float: left;
		text-align: center;
	}
	.date_art_det{
		width: 33%;
		height: 100%;
		float: left;
		text-align: center;
	}
	#text_app_det{
		font-size: 10px;
	}
	.text_param_det{
		font-size: 14px;
	}
	#content_det{
		h2{
			font-size: 22px;
		}
		p{
			font-size: 16px;
		}
		img{
			width: 270px;
		}
	}
	//--------------------------------------------------------------
		//основание сойта
	#app_user{
		height: 1300px;
	}
	#normal_size_app_user{
		width: 80%;
		height: 1200px;
    	top: 52%;
	}
	#user_up_block{
		width: 100%;
		height: 100px;
	}
	#user_logo{
		width: 80px;
		height: 80px;
		margin: 10px 0 0 20px;
		float: left;
	}
	#user_name{
		font-size: 16px;
		width: 150px;
	}
	#user_logout{
		font-size: 16px;
		width: 50px;
	}
	#user_down_block{
		width: 100%;
		height: 970px;
	}
	#personal_information{
		width: 100%;
		height: auto;
		float: none;
	}
	#user_future{
		border: none;
		border-top: 1px solid #1D2029;
		width: 100%;
		height: 250px;
		float: none;
	}
	.main_text_user{
		text-align: center;
		width: 100%;
		height: 60px;
		font-weight: 800;
		font-size: 20px;
		color: #fff;
		margin-top: 5px;
	}
	//--------------------------------------login---------------------------
	#login_block{
		width: 100%;
		margin: 0 0;
	}
}
@media only screen and (min-width : 320px) and (max-width : 425px){
	#user_up_block{
		width: 100%;
		height: 180px;
	}
	#user_logo{
		text-align: center;
		width: 100%;
		height: 80px;
		margin: 0 0 0 0;
		float: none;
	}
	#user_name{
		text-align: center;
		font-size: 20px;
		width: 100%;
		height: 40px;
		margin: 10px 0 0 0;
		float: none;
	}
	#user_logout{
		text-align: center;
		font-size: 20px;
		width: 100%;
		height: 40px;
		margin: 10px 0 0 0;
		float: none;
	}
	#id_photo{
		font-size: 12px;
	}
}