.js_color{background: #EB4C42;}
.java_color{background: #006262;}
.python_color{background: #318CE7;}
.github_color{background: #536872;}
.css_color{background: #9457EB;}
.html_color{background: #F4CA16;}
.android_color{background: #50C878;}
.ios_color{background: #6E00C0;}
.c_color{background: #CC397B;}
.cpp_color{background: #23C9DE;}
.cs_color{background: #06F663;}
.begginers_color{background: #8485E6;}
.react_color{background: #F64765;}
.tutorial_color{background: #E1B1E5;}
.opensource_color{background: #483811;}
.node_color{background: #A99E15;}
.career_color{background: #474ACD;}
.security_color{background: #004242;}
.linux_color{background: #FDC008;}
.angular_color{background: #474ACD;}
.php_color{background: #9457EB;}
.machinelearning_color{background: #CC397B;}
.database_color{background: #EB4C42;}
.blockchain_color{background: #483811;}