{% extends 'user.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="login_block">
    <h1>Изменение пароля</h1>
    <div id="login-form_user">
    {% if validlink %}
        <p>Пожалуйста, введите ваш пароль дважды:</p>
        <form id="user_form" action="." method="post">
            {{ form.as_p }}
            <div id="button_footer_send"><input type="submit" name="SendMess" value="Изменить"></div>
            {% csrf_token %}
        </form>
    {% else %}
        <p>Ссылка сброса пароля была недействительной, возможно, потому, что она была
уже использовали. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
    </div>
</div>
{% endblock %}