@media only screen and (min-width : 1024px) and (max-width : 1200px){
	//nav
	menu{
		li{
			margin-left: 10px;
		}
		a{
			font-size: 16px;
		}
	}
	//app
	#block_news_title{
		font-size: 20px;
	}
	#text_news_day{
		font-size: 16px;
		top: 18%;
	}
	#up_smg{
		img{
			position: relative;
			top: -100px;
			left: 68%;
		}
	}
	#up_smg_text{
		font-size: 20px;
	}
	//article
	.corner{
		height: 20px;
		width: 20px;
	}
	#text_app{
		font-size: 10px;
	}
	.text_param{
		font-size: 16px;
	}
}