#go_up {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 2;
  width: 60px;
  background: #16171F;
}

#button-up {
  height: 50px;
  width: 50px;
  display: none;
  position: relative;
  left: 5px;
  top: 50%;
}

#button-up svg {
  transition: 0.5s;
}

#button-up:hover {
  cursor: pointer;
}

#button-up:hover svg {
  fill: #386AE8;
  transition: 0.5s;
}

#rigth_sounbar {
  position: fixed;
  top: 100px;
  right: 0px;
  height: 490px;
  width: 25%;
}

#news {
  width: 80%;
  height: 100px;
}

#body_news {
  width: 100%;
  height: 100%;
  background: #CCD1DD;
  border-radius: 20px;
}

#block_news_title {
  width: 100%;
  height: 50%;
  font-style: normal;
  font-size: 25px;
  color: #3B414E;
}

#text_news_news {
  height: 80%;
  width: 80%;
  position: relative;
  top: 20%;
  left: 6%;
}

#block_news {
  width: 100%;
  height: 50%;
}

#icon {
  width: 20%;
  height: 100%;
  float: left;
}

#icon svg {
  float: right;
  padding: 12%;
}

#text_news {
  width: 80%;
  height: 100%;
  float: left;
}

#text_news_day {
  height: 30px;
  position: relative;
  font-size: 18px;
  top: 25%;
  color: #262E3E;
  opacity: 0.8;
}

#something {
  width: 80%;
  height: 390px;
}

#body_smg {
  position: relative;
  top: 40px;
  width: 100%;
  height: 350px;
  background: #CCD1DD;
  border-radius: 20px;
}

#up_smg {
  width: 100%;
  height: 190px;
}

#up_smg img {
  position: relative;
  top: -110px;
  left: 70%;
  z-index: 3;
}

#up_smg_text {
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  font-weight: 900;
  font-size: 25px;
  color: #323846;
  z-index: 2;
}

#down_smg {
  width: 100%;
  height: 160px;
}

#down_smg form {
  width: 100%;
  height: 100%;
  text-align: center;
}

#down_smg textarea {
  width: 85%;
  height: 56%;
  padding: 10px;
  background: #262E3E;
  border: none;
  border-radius: 20px;
  resize: none;
  color: #fff;
}

#down_smg textarea:focus {
  outline: none;
}

#down_smg input {
  width: 140px;
  height: 30px;
  background: #386AE8;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #FFF;
  transition: 0.3s;
}

#down_smg input:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #507EF2;
}
