@media only screen and (min-width : 766px) and (max-width : 1024px){
	//nav
	#top_nav{
		position: fixed;
	}
	//менюшка
	.hamburger-menu{
		height: 0;
		display: block;
		z-index: 1;
	}
	#menu__toggle {
	  opacity: 0;
	}
	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	}

	.menu__btn {
	  display: flex;
	  align-items: center;
	  position: fixed;
	  top: 27px;
	  left: 20px;
	  width: 26px;
	  height: 26px;
	  cursor: pointer;
	  z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #E4E6E8;
	  transition-duration: .25s;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  top: 8px;
	}

	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 350px;
	  height: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  background-color: #202833;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  transition-duration: .25s;
	  h4{
		font-size: 3em;
		margin: 10px 30px;
		color: #fff;
		font-family: 'Rubik';
	  }
	  li{
		margin: 5px 30px;
	  }
	  button{
		  margin-left: 24px;
		  width: auto;
		  margin-top: 15px;
	  }
	}

	.menu__item {
	  display: block;
	  padding: 12px 24px;
	  color: #fff;
	  font-size: 1.5em;
	  text-decoration: none;
	  transition-duration: .25s;
	  font-family: "Rubik";
	  i{ margin: 0px 5px; width: 25px;}
	  &.logout{
		color: $danger_color;
		&:hover{
			color: #fff;
			background-color: $danger_color;
		}
	  }
	}
	.menu__item:hover {
	  color: #68FAF2;
	  text-decoration: none;
	}
	//logo
	.logo{
		margin-left: 0;
	}
	menu{
		display: none;
	}
	#nav_top_icons .login_theme{
		display: none;
	}
	
	//sounbar
	#go_up{ //стрелка наверх спрятали
		display: none;
	}
	#rigth_sounbar{ //правый виджет спрятали
		display: none;
	}
	
	
	//app
	#app{
		justify-content: center;
	}
	#normal_size_app{
		width: 90%;
		margin: 100px 0 0 0;
	}
	#text_app_heshteg{
		font-size: 1.8em;
	}
	#text_app{
		font-size: 1.8em;
	}
	.second_text_main_art{
		h2{
			font-size: 1.9em;
		}
	}
}

.dark-mode{
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  background-color: $text_app_color;
	}

	.menu__box {
	  background-color: $bck_main_color;
	  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	  h4{ color: $text_app_color; }
	}

	.menu__item {
	  color: $text_app_color;
	  &.logout{
		color: $danger_color;
		&:hover{
			color: #fff;
			background-color: $danger_color;
		}
	  }
	}
	.menu__item:hover {
	  color: $text_selected_app_color;
	}
}