//основание сойта
#app{
	width: 100%;
	height: auto;
	background: #1D2029;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

//основание для статьей
#normal_size_app{
	height: 100%;
	width: 60%;
	margin: 110px 0 0 100px;
}
#title{
	width: 100%;
	height: 80px;
	background: #202833;
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}
#color_topic{  
	height: 100%;
	width: 6px;
	background: #FF1A0A;
	border-radius: 5px 0px 0px 5px;
}
#text_app_heshteg{
	color: #CDCDCD;
	font-size: 2em;
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#text_app{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Rubik";
	font-size: 2em;
	color: #fff;
	margin-left: 10px;
}
#app_button_follow{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.app_button_follow_btn{
	margin-right: 10px;
}

.custom_click{
	background: #386AE8;
}
.custom_click:hover{
	background-color: #5982E8;
}
.custom_click.active, .custom_click:focus{
	background-color: #386AE8;
	border: none;
}
.custom_click.active:hover, .custom_click:focus:hover{
	background-color: #5982E8;
}

//статьи
#article_normal_size_block{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
article{
	width: 100%;
	height: auto;
	margin-top: 40px;
	background: #202833;
	border-radius: 5px;
	box-shadow: 0 0 5px #303C4D;
}
.article_about_art{
	min-height: 200px;
	height: auto;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 3px 0 #323846;
}
.image{
	height: 210px;
	width: 210px;
	float: left;
	margin: 0px 10px 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 5px 0px 0px 0px;
	img{
		height: 100%;
		width: auto;
		transition: 0.3s;
	}
	img:hover{
		transform: scale(1.2);
	}
}
.text_art{
	width: auto;
	height: auto;
	min-height: 200px;
}
.text_main_art{
	height: auto;
}
.title_main_art{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Rubik Bold';
	color: #fff;
	height: auto;
	width: 100%;
	margin-left: 210px;
	h2{
		margin: 10px 0px 0px 0px;
	}
}
.second_text_main_art{
	min-height: 210px;
	a{
		text-decoration: none;
		&:hover{cursor: pointer;}
	}
	p{
		color: #CCD1DD;
		font-family: "Rubik";
		height: auto;
		margin: 0px 10px 10px 10px;
		font-size: 1em;
	}
	h2{
		font-size: 2.6em;
		font-family: 'Rubik Bold';
		color: #fff;
		height: auto;
		margin: 0px 0px 10px 0px;
	}
}
//параметры статьи
.param_art{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.param_art_left{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.param_art_right{
	width: 100%;
	height: auto;
	font-family: "Rubik";
	color: #386AE8;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 10px;
}
.icons_param{
	margin-left: 30px;
	height: auto;
	font-family: "Rubik";
	color: #CACACA;
	font-size: 1.2em;
	white-space: nowrap;
	i{
		color: #F44336;
	}
}
.like{
	margin-left: 10px;
}
.comment i{
	color: #fff;
}
.date_art i{
	color: #fff;
}

//нижняя часть статьи с автором
.author{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 10px;
}
.author_author{
	width: 100%;
	height: 50px;
	display: flex; 
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	a{
		height: 100%;
		width: 100%;
		display: flex; 
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		text-decoration: none;
		&:hover{cursor: pointer;}
	}
	img{
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	h4{
		font-family: "Rubik";
		color: #64FDF1;
		font-size: 1.2em;
		margin: 0px 0px 0px 10px;
	}
}
.heshteg_author{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	a{
		margin-left: 10px;
		font-size: 1em;
		font-family: "Hack";
		text-decoration: none;
		color: #E1E2E2;
		transition: 0.2s;
	}
	a:hover{
		color: #386AE8;
		transition: 0.2s;
	}
	.iskl{
		margin: 0;
	}
}

.actions_with_article{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	font-family: "Hack Bold";
	font-size: 1em;
	margin-right: 15px;
	a{
		text-decoration: none;
		&:hover{cursor: pointer;}
		padding: 5px;
	}
	.edit{color: #50C878;}
	.delete{color: #EB4C42;}
}

//пагинатор
.paginatorMain{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 40px;
}
.paginator_custom{
	li a{
		background: #F9FAFA;
		font-family: "Rubik";
		font-size: 1em;
		color: #202833;
		transition: 0.2s;
	}
	.Active a{
		background: #64FDF1;
		color: #F9FAFA;
	}
	li a:hover{
		background: #E1E2E2;
		color: #386AE8;
		transition: 0.2s;
	}
}

.advertising{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	background: #E4E6E8;
	margin: 40px 0 0 0;
}
.dark-mode{
	//основание сойта
	#app{
		background: $bck_main_color;
	}
	#title{
		background: $bck_block_color;
		box-shadow: 0 0 0 1px $box_shadow_lm;
	}
	#text_app_heshteg{
		color: #344153;
	}
	#text_app{
		color: $text_app_color;
	}
	.custom_click{
		background: #386AE8;
		color: #fff;
		border: none;
	}
	.custom_click:hover{
		background-color: #5982E8;
		color: #fff;
		border: none;
	}
	.custom_click.active, .custom_click:focus{
		background-color: #386AE8;
		color: #fff;
		border: none;
	}
	.custom_click.active:hover, .custom_click:focus:hover{
		background-color: #5982E8;
		color: #fff;
		border: none;
	}
	//статьи
	article{
		background: $bck_block_color;
		box-shadow: 0 0 0 1px $box_shadow_lm;
	}
	.article_about_art{
		box-shadow: 0 3px 0 $box_shadow_lm;
	}
	.title_main_art{
		color: $text_app_color;
	}
	.second_text_main_art{
		p{
			color: $text_app_p_color;
		}
		h2{
			color: $text_app_color;
		}
	}
	//параметры статьи
	.param_art_right{
		color: #386AE8;
	}
	.icons_param{
		color: $text_app_p_color;
	}
	.comment i{
		color: $text_app_color;
	}
	.date_art i{
		color: $text_app_color;
	}
	//нижняя часть статьи с автором
	.author_author{
		h4{
			color: #386AE8;
		}
	}
	.heshteg_author{
		a{
			color: $text_app_p_color;
		}
		a:hover{
			color: #386AE8;
		}
	}
	//пагинатор
	.paginator_custom{
		li a{
			background: $bck_block_color;
			color: $text_app_color;
			box-shadow: 0 0 0 1px $box_shadow_lm;
		}
		.ellipsis{
			background: $bck_block_color;
			color: $text_app_color;
			box-shadow: 0 0 0 1px $box_shadow_lm;
		}
		.Active a{
			background: #64FDF1;
			color: #F9FAFA;
		}
		li a:hover{
			background: #CACACA;
			color: #386AE8;
		}
	}
	.advertising{
		background: #E4E6E8;
	}
	.actions_with_article{
		.edit{color: #50C878;}
		.delete{color: #EB4C42;}
	}
}