//стрелка для подъема наверх
#go_up{
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	z-index: 2;
	width: 60px;
	background: #16171F;
	display: flex;
	justify-content: center;
	align-items: center;
}
#button-up{
	height: 50px;
	width: 50px;;
	display: none;	
	color: #323846;		
	font-size: 80px;
	transition: 0.5s;
	margin-left: 1px;
}
#button-up:hover{
	cursor: pointer;
	color: #386AE8;
	transition: 0.5s;
}

//правая подгруппа
#rigth_sounbar{
	position: absolute;
	top: 100px;
	right: 0px;
	height: auto;
	width: 25%;
}

//новости
#news{
	width: 80%;
	height: auto;
}
#body_news{
	width: 100%;
	height: auto;
	background: $bck_block_color;
	border-radius: 5px;
}
#block_news_title{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#text_news_news{
	font-family: "Rubik";
	margin: 10px;
	font-size: 1.8em;
	color: #202833;
	font-weight: bold;
}
#block_news{
	width: 100%;
	min-height: 50px;
	height: auto;
	display: flex;
	justify-content: start;
	align-items: center;
}
#icon{
	width: auto;
	height: 100%;
	color: #386AE8;
	font-size: 1.5em;
	margin: 0 5px 0 5px;
}
#text_news{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 0 5px 0 5px;
}
#text_news_day{
	height: auto;
	font-size: 16px;
	color: #444C57;
	font-family: "Rubik";
}

//tags
#tags{
	margin-top: 20px;
	width: 80%;
	height: auto;
}
#body_tags{
	width: 100%;
	height: auto;
	background: $bck_block_color;
	border-radius: 5px;
	padding: 10px;
}
#body_tags_title{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	h3{
		font-size: 1.8em;
		font-family: "Rubik";
		color: #202833;
		font-weight: bold;
	}
}
.tags_list{
	height: 300px;
	width: 100%;
	scrollbar-color: #323846 #F9FAFA;
	ul{
		height: inherit;
		width: 100%;
		padding: 5px;
	}
	li{
		width: inherit;
		height: 30px;
		list-style-type: none;
		cursor: pointer;
		padding: 0 4px 0 4px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		transition: 0.2s;
	}
	li:hover{
		background: #E1E2E2;
		border-radius: 3px;
		transition: 0.2s;
	}
	a{
		display: block;
		width: inherit;
		text-decoration: none;
		font-family: "Hack";
		font-size: 1.2em;
		color: #323547;
	}
	a:hover{
		color: #386AE8;
	}
}

.dark-mode {
	#go_up{
		background: #E4E6E8;
		box-shadow: 1px 0 0 $box_shadow_lm;
	}
	#button-up{	
		color: #565656;		
	}
	#button-up:hover{
		color: #386AE8;
	}
	#body_news{
		box-shadow: 0 0 0 1px $box_shadow_lm;
	}
	#body_tags{
		box-shadow: 0 0 0 1px $box_shadow_lm;
	}
}
