#text_app{
	white-space: nowrap;
}

//правая подгруппа
#block_meta{
	width: 100%;
	min-height: 50px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Rubik";
	font-size: 1em;
	color: $text_app_color;
	i{
		color: #386AE8;
		margin-right: 5px;
	}
	a{
		text-decoration: none;
		font-family: "Hack";
		color: #EB4C42;
	}
}
.metaline{
	width: 100%;
	padding: 5px 10px 5px 10px;
}

#addarticle_block{
	width: 100%;
	height: 80px;
}
#icon_add_article{
	width: inherit;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	button{
		width: 60px;
		height: 60px;
		background-color: #46AF69;
		margin-top: 40px;
		border: none;
		border-radius: 100%;
		cursor: pointer;
		i{
			font-size: 2em;
			color: #fff;
		}
		&:hover{
			transform: rotate(180deg);
			transition: 1s;
		}
	}
}
#footer_add{
	width: inherit;
	height: 40px;
	background: #50C878;
}

#addarticle_text{
	width: 100%;
	height: auto;
}
#addarticle_text_support{
	padding: 10px;
	font-size: 1em;
	font-family: "Rubik";
	color: $text_app_color;
	text-align: center;
}


// первый блок с аватаркой и названием

#title_acc{
	width: 100%;
	min-height: 80px;
	height: auto;
	border-radius: 5px;
	display: flex;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	background: #F9FAFA;
}
#text_app_icon{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -50px;
	img{
		background: #D4D5D5;
		border-radius: 100%;
		padding: 5px;
		width: 150px;
		height: 150px;
	}
}
#text_app_title{
	width: 100%;
	text-align: center;
	color: $text_selected_app_color;
	font-family: "Rubik Bold";
	font-size: 2em;
}
#description_account{
	width: 100%;
	text-align: center;
	color: $text_app_p_color;
	font-family: "Rubik";
	font-size: 1em;
}
.actions_with_article{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	font-family: "Hack Bold";
	font-size: 1em;
	margin-right: 15px;
	a{
		text-decoration: none;
		&:hover{cursor: pointer;}
		padding: 5px;
	}
	.edit{color: #50C878;}
	.delete{color: #EB4C42;}
}


.dark-mode{
	#title_acc{
		box-shadow: 0 0 0 1px $box_shadow_lm;
	}
	.actions_with_article{
		.edit{color: #50C878;}
		.delete{color: #EB4C42;}
	}
}
