$box_shadow_lm: rgba(8, 9, 10, 0.1);
$bck_main_color: #EEF0F1;
$bck_block_color: #F9FAFA;
$text_app_color: #202833;
$text_app_p_color: #454F5E;
$text_selected_app_color: #386AE8;
$light_grey: #e4e6e8;