<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width? initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="{{ meta_description }}">
	<meta name="author" content="Nikita Ivanov ivanov.n.a.0620@gmail.com">
	<link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/halfmoon-variables.min.css' %}"/>
	{% if css_params == 1%}
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	{% endif %}
	{% if css_params == 2%}
	<link rel="stylesheet" href="{% static 'css/user.css' %}">
	{% endif %}
	{% if css_params == 3%}
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<link rel="stylesheet" href="{% static 'css/newarticle.css' %}">
	{% endif %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
	<link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

	<script>hljs.initHighlightingOnLoad();</script>

	<title>{{ meta_title }}</title>
	<script>
		MathJax = {
		  tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']]
		  }
		};
	</script>
	<script id="MathJax-script" async
	  	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
	</script>
	<script>window.noAdBlock = false;</script>
</head>
<body>
	<script src="{% static 'js/_adverts.js' %}"></script>
	<main>
		<div id="modal_full">
			<div id="modal_content_flex">
				<div id="modal_content">
					<div id="top"></div>
					<h5>Вы используете ADBLOCK</h5>
					<p>Без показа рекламы автору сайта не будет приходить вознаграждение за его труды, это очень грустно (╯︵╰,)</p>
					<div id="buttons">
						<button id="ok">Сейчас выключу</button>
						<button id="pidr">Не буду выключать</button>
					</div>
				</div>
			</div>
		</div>
		<nav id="top_nav">
			<div class="GoogleAdv"></div>
			<div class="normal_size normalSizeLight">
				<div class="hamburger-menu">
					<input id="menu__toggle" type="checkbox" />
					<label class="menu__btn" for="menu__toggle">
						<span></span>
					</label>
					<ul class="menu__box">
						<li><a class="menu__item" href="/">Главная</a></li>
						<li><a class="menu__item" href="/products/">Продукты</a></li>
						<li><a class="menu__item" href="/tags">Теги</a></li>
						<button class="btn login custom_click" type="button">
							Вход
						</button>
						<button class="btn login custom_click" type="button">
							Регистрация
						</button>
					</ul>
				</div>
				<div class="logo">
					<a href="#">
						<img id="mainLogo" src="../../static/img/logo_dm.svg">
						<div id="logo_main_text_nav">NikTech</div>
						<span class="badge">v.1.2</span>
					</a>
				</div>
				<menu>
					<ul>
						<li class="iskl"><a href="/">Главная</a></li>
						<li><a href="/products/">Продукты</a></li>
						<li><a href="/tags/">Теги</a></li>
					</ul>
				</menu>
				<div id="nav_top_icons">

					<div class="input-group input-group-nav">
						<div class="input-group-prepend">
						  <span class="input-group-text input-text-custom">
							<i class="fas fa-search"></i>
						  </span>
						</div>
						<input type="text" class="form-control form-control-custom" placeholder="Поиск...">
					</div>
					<div class="flex_icon theme login_theme">
						<button class="btn login custom_click" type="button">
							{% if user.is_authenticated %}
								<i class="fas fa-cog"></i>
								<i class="fas fa-caret-down"></i>
								<ul class="settings_menu">
									<li><a href="/articles/{{user.id}}">Ваши статьи</a></li>
									<li><a href="/newarticle">Написать статью</a></li>
									<li><a href="/profilesettings">Настройки</a></li>
									<li class="quit"><a href="/logout">Выйти</a></li>
								</ul>
							{% else %}
								<a href="/login">Вход</a>
							{% endif %}
						</button>
					</div>
					<div class="flex_icon theme lm_mode_theme">
						<button class="btn btn_theme" type="button" onclick="handleButtonClick()" onclick="handleButtonClick()">
							<i class="far fa-moon" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</nav>
		<div id="go_up">
			<div id="button-up">
				<i class="fas fa-caret-up"></i>
			</div>
		</div>
		{% block content %}{% endblock %}
		<div id="rigth_sounbar">
			<div id="news">
				<div id="body_news">
					<div id="block_news_title">
						<div id="text_news_news">Сегодня</div>
					</div>
					<div id="block_news">
						<div id="icon">
							<i class="fas fa-angle-double-right"></i>
						</div>
						<div id="text_news">
							<div id="text_news_day">{{day_text}}</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tags">
				<div id="body_tags">
					<div id="body_tags_title">
						<h3>Популярные теги</h3>
					</div>
					<div class="overflow-y-hidden overflow-y-md-auto tags_list">
						<ul>
							{% for tag in allTags %}
								<li><a href="{% url 'tags' tag %}">#{{tag}}</a></li>
							{% endfor %}
<!--							<li><a href="#">#webdev</a></li>-->
<!--							<li><a href="#">#beginners</a></li>-->
<!--							<li><a href="#">#tutorial</a></li>-->
<!--							<li><a href="#">#programming</a></li>-->
<!--							<li><a href="#">#react</a></li>-->
<!--							<li><a href="#">#productivity</a></li>-->
<!--							<li><a href="#">#css</a></li>-->
<!--							<li><a href="#">#python</a></li>-->
<!--							<li><a href="#">#html</a></li>-->
<!--							<li><a href="#">#codenewbie</a></li>-->
<!--							<li><a href="#">#devops</a></li>-->
<!--							<li><a href="#">#aws</a></li>-->
<!--							<li><a href="#">#node</a></li>-->
<!--							<li><a href="#">#career</a></li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div id="copyright">
				<i class="far fa-copyright"></i>
				Copyright 2020-2021
			</div>
			<div id="social">
				<a href="https://t.me/niktech_nt"><i class="fab fa-telegram-plane"></i></a>
				<a href="https://www.instagram.com/niktech_nt_site/"><i class="fab fa-instagram"></i></a>
			</div>
			<div id="email">
				niktechsite@gmail.com
			</div>
		</footer>
	</main>
	<script>//button up
		$(document).ready(function() {
			let button = $('#button-up');
			$(window).scroll (function () {
				if ($(this).scrollTop () > 1000) {
					button.fadeIn();
				}
				else {
					button.fadeOut();
				}
			});
			button.on('click', function(){
				$('body, html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});
	</script>
<!--	<script src="../static/js/text_anim.js"></script>-->
	<script src="../static/js/particles.js"></script>
	<script src="../static/js/app.js"></script>
	<script src="../static/js/lib/stats.js"></script>
	<script>//скрытие побочной подгруппы
		$(document).ready(function() {
			if ($(window).width() > 1024){
				let button = $('#rigth_sounbar');
				$(window).scroll (function () {
					if ($(this).scrollTop () > 2000) {
						button.fadeOut();
					}
					else {
						button.fadeIn();
					}
				});
			}
		});
	</script>
	<script src="../static/js/halfmoon.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<!-- Yandex.Metrika counter -->
    <!-- <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(66314386, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/66314386" style="position:absolute; left:-9999px;" alt="" /></div></noscript> -->
    <!-- /Yandex.Metrika counter -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  config: ["MMLorHTML.js"],
		  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
		  extensions: ["MathMenu.js", "MathZoom.js"]
		});
	</script>
</body>
</html>