<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width? initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="{{ meta_description }}">
	<meta name="author" content="Nikita Ivanov ivanov.n.a.0620@gmail.com">
	<link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/halfmoon-variables.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/stackoverflow-light.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/profilesettings.css' %}">
	{% if css_params == 0%}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	{% endif %}
	{% if css_params == 1%}
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	{% endif %}
	{% if css_params == 2%} <!-- articles by id -->
	<link rel="stylesheet" href="{% static 'css/user.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	{% endif %}
	{% if css_params == 3%}  <!-- newarticle -->
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/newarticle.css' %}">
	{% endif %}
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome5/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'css/highlight.css' %}">
	<link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">



	<!--подсветка кода-->
<!--	<script src="{% static 'highlight/highlight.min.js' %}"></script>-->
<!--	<link rel="stylesheet" href="{% static 'highlight/styles/a11y-light.min.css' %}">-->
<!--	<script type='text/javascript'>hljs.initHighlightingOnLoad();</script>-->

	<title>{{ meta_title }}</title>
<!--	<script>-->
<!--	MathJax = {-->
<!--	  tex: {-->
<!--		inlineMath: [['$', '$'], ['\\(', '\\)']]-->
<!--	  },-->
<!--	  svg: {-->
<!--		fontCache: 'global'-->
<!--	  }-->
<!--	};-->
<!--	</script>-->
<!--	<script id="MathJax-script" async-->
<!--	  	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">-->
<!--	</script>-->

	<script>window.noAdBlock = false;</script>
</head>
<body>
	<script src="{% static 'js/_adverts.js' %}"></script>
	<main>
		<div id="modal_full">
			<div id="modal_content_flex">
				<div id="modal_content">
					<div id="top"></div>
					<h5>Вы используете ADBLOCK</h5>
					<p>Без показа рекламы автору сайта не будет приходить вознаграждение за его труды, это очень грустно (╯︵╰,)</p>
					<div id="buttons">
						<button id="ok">Сейчас выключу</button>
						<button id="pidr">Не буду выключать</button>
					</div>
				</div>
			</div>
		</div>
		<div id="container" style="visibility: hidden; opacity: 0;">
        <script src="../../static/js/modal_delete_article.js"></script>
        <div class="modal">
            <!-- Header -->
            <div class="modal__header">
                <h1>Точно удалить статью?</h1>
                <div class="close" onclick="openDeleteModal(0)">Close</div>
            </div>

            <!-- Content -->
            <div class="modal__content">
                Статья будет удалена без возможности восстановления !!! <br>
                Если что, админ тут ни при чем 👀
            </div>

            <!-- Footer -->
            <div class="modal__footer">
                <a class="modal__button delete" id="modal_delete_art" href="/deletearticle/">Удалить</a>
                <a class="modal__button" onclick="openDeleteModal(0)">Отмена</a>
            </div>
        </div>
    </div>
		<nav id="top_nav">
			<div class="GoogleAdv"></div>
			<div class="normal_size normalSizeLight">
				<div class="hamburger-menu">
					<input id="menu__toggle" type="checkbox" />
					<label class="menu__btn" for="menu__toggle">
						<span></span>
					</label>
					<ul class="menu__box">
						<h4>Menu</h4>
						<li><a class="menu__item" href="/"><i class="fa-solid fa-house"></i>Главная</a></li>
						<!-- <li><a class="menu__item" href="/products/">Продукты</a></li> -->
						<li><a class="menu__item" href="/tags"><i class="fa-solid fa-tag"></i>Теги</a></li>
						{% if user.is_authenticated %}
							<li><a class="menu__item" href="{% url 'user_id' user.id %}"><i class="fa-solid fa-book"></i>Ваши статьи</a></li>
							<li><a class="menu__item" href="{% url 'newArticle' %}"><i class="fa-solid fa-pencil"></i>Написать статью</a></li>
							<li><a class="menu__item" href="{% url 'profilesettings' %}"><i class="fa-solid fa-gear"></i>Настройки</a></li>
							<li><a class="menu__item logout" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Выйти</a></li>
						{% else %}
							<li>
								<a href="{% url 'login' %}">
								<button class="btn login custom_click" type="button" href="{% url 'login' %}">
									Вход
								</button></a>
							</li>
						{% endif %}
<!--						<li><button class="btn login custom_click" type="button">-->
<!--							Регистрация-->
<!--						</button></li>-->
					</ul>
				</div>
				<div class="logo">
					<a href="/">
						<img id="mainLogo" src="../../static/img/logo_dm.svg">
						<div id="logo_main_text_nav">NikTech</div>
						<span class="badge">v.1.2.2</span>
					</a>
				</div>
				<menu>
					<ul>
						<li class="iskl"><a href="/">Главная</a></li>
<!--						<li><a href="/products/">Продукты</a></li>-->
						<li><a href="/tags/">Теги</a></li>
					</ul>
				</menu>
				<div id="nav_top_icons">
					<div class="input-group input-group-nav">
						<div class="input-group-prepend">
						  <span class="input-group-text input-text-custom">
							<i class="fas fa-search"></i>
						  </span>
						</div>
						<form action="{% url 'index' %}">
							<input type="text" name="search" class="form-control form-control-custom" placeholder="Поиск...">
						</form>
					</div>
					<div class="flex_icon theme login_theme">
						<button class="btn login custom_click" type="button">
							{% if user.is_authenticated %}
								<i class="fas fa-cog"></i>
								<i class="fas fa-caret-down"></i>
								<ul class="settings_menu">
									<li><a href="{% url 'user_id' user.id %}">Ваши статьи</a></li>
									<li><a href="{% url 'newArticle' %}">Написать статью</a></li>
									<li><a href="{% url 'profilesettings' %}">Настройки</a></li>
									<li class="quit"><a href="/logout">Выйти</a></li>
								</ul>
							{% else %}
								<a href="/login">Вход</a>
							{% endif %}
						</button>
					</div>
					<div class="flex_icon theme lm_mode_theme">
						<button class="btn btn_theme" type="button" onclick="handleButtonClick()" onclick="handleButtonClick()">
							<i class="far fa-moon" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</nav>
		<div id="go_up">
			<div id="button-up">
				<i class="fas fa-caret-up"></i>
			</div>
		</div>
		{% block content %}{% endblock %}
		<footer>
			<div id="copyright">
				<i class="far fa-copyright"></i>
				Copyright 2020-2022

			</div>
			<div id="social">
				<a href="https://t.me/niktech_nt"><i class="fab fa-telegram-plane"></i></a>
<!--				<a href="https://www.instagram.com/niktech_nt_site/"><i class="fab fa-instagram"></i></a>-->
			</div>
			<div id="email">
				niktechsite@gmail.com
			</div>
		</footer>
	</main>
	<script>//button up
		$(document).ready(function() {
			let button = $('#button-up');
			$(window).scroll (function () {
				if ($(this).scrollTop () > 1000) {
					button.fadeIn();
				}
				else {
					button.fadeOut();
				}
			});
			button.on('click', function(){
				$('body, html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});
	</script>
<!--	<script src="../static/js/text_anim.js"></script>-->
<!--	<script src="../static/js/particles.js"></script>-->
<!--	<script src="../static/js/app.js"></script>-->
<!--	<script src="../static/js/lib/stats.js"></script>-->
	<script>//скрытие побочной подгруппы
		$(document).ready(function() {
			if ($(window).width() > 1024){
				let button = $('#rigth_sounbar');
				$(window).scroll (function () {
					if ($(this).scrollTop () > 2000) {
						button.fadeOut();
					}
					else {
						button.fadeIn();
					}
				});
			}
		});
	</script>
	<script src="../static/js/halfmoon.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		  config: ["MMLorHTML.js"],
		  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
		  extensions: ["MathMenu.js", "MathZoom.js"]
		});
	</script>
	{% if css_params == 3%}  <!-- newarticle -->
	<script>
		function previewFile() {
			var preview = document.getElementById('profile_image');
			console.log(preview);
			file    = document.getElementById('form').querySelector(`[name="article_picture"]`).files[0];
			var reader  = new FileReader();

			reader.onloadend = function () {
			  preview.src = reader.result;
			}

			if (file) {
			  reader.readAsDataURL(file);
			} else {
			  preview.src = "";
			}
		}
	</script>
	{% endif %}
	{% if css_params == 4%}  <!-- edit profile -->
	<script>
		function previewFile() {
			var preview = document.getElementById('profile_image');
			console.log(preview);
			file    = document.getElementById('form').querySelector(`[name="avatar"]`).files[0];
			var reader  = new FileReader();

			reader.onloadend = function () {
			  preview.src = reader.result;
			}

			if (file) {
			  reader.readAsDataURL(file);
			} else {
			  preview.src = "";
			}
		}
	</script>
	{% endif %}
</body>
</html>