@media only screen and (min-width: 766px) and (max-width: 1024px) {
  nav {
    position: fixed;
    width: 100%;
    height: 80px;
  }
  .logo {
    width: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .logo img {
    position: relative;
    top: 0;
    left: 11%;
  }
  .hamburger-menu {
    height: 0;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #E4E6E8;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #202833;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #64FDF1;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    color: #E4E6E8;
  }
  #find {
    position: relative;
    top: 15px;
    float: right;
    right: 150px;
    width: 50px;
    height: 65px;
  }
  .icon {
    height: 50px;
    width: 50px;
    margin: 0;
  }
  #login {
    position: relative;
    top: 15px;
    float: right;
    right: 10px;
    width: 50px;
    height: 65px;
  }
  .endicon {
    margin: 0;
  }
  menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #go_up {
    display: none;
  }
  #rigth_sounbar {
    display: none;
  }
  #normal_size_app {
    width: 100%;
    margin: 100px 0 0 0;
  }
  #title {
    width: 300px;
    margin: 0 auto;
  }
  #text_app {
    font-size: 30px;
  }
  .text_art {
    width: 60%;
  }
  .title_main_art {
    font-size: 22px;
  }
  .second_text_main_art {
    font-size: 14px;
  }
  .text_param {
    font-size: 14px;
    margin: 8px 0 0 5px;
  }
  #copyright {
    float: right;
    width: 100%;
  }
  #copyright_norm_size {
    margin: 30px auto;
  }
  #upstairs_footer_norm_size {
    width: 100%;
    margin-left: 0px;
  }
  .class_footer {
    width: 49%;
  }
  .hidden_footer {
    display: none;
  }
  .title_art_footer {
    font-size: 25px;
  }
  #contact_form {
    width: 260px;
    height: 240px;
    margin: 5px auto;
    text-align: center;
  }
  #contact_form input {
    width: 255px;
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    background: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
  #contact_form textarea {
    width: 255px;
    height: 80px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    background: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    resize: none;
  }
  #contact_form textarea:focus, #contact_form input:focus {
    outline: none;
    border: 1px solid #386AE8;
  }
  #button_footer_send input {
    width: 160px;
    height: 30px;
    float: right;
    background: #386AE8;
    border: none;
    border-radius: 10px;
  }
  #button_footer_send input:hover {
    background: #507EF2;
    cursor: pointer;
  }
}
