@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  menu li {
    margin-left: 10px;
  }
  menu a {
    font-size: 16px;
  }
  #block_news_title {
    font-size: 20px;
  }
  #text_news_day {
    font-size: 16px;
    top: 18%;
  }
  #up_smg img {
    position: relative;
    top: -100px;
    left: 68%;
  }
  #up_smg_text {
    font-size: 20px;
  }
  #text_app {
    font-size: 30px;
  }
  .text_art {
    width: 60%;
  }
  .title_main_art {
    font-size: 20px;
  }
  .second_text_main_art {
    font-size: 12px;
  }
  .text_param {
    font-size: 14px;
    margin: 8px 0 0 5px;
  }
}
