@media only screen and (min-width : 320px) and (max-width : 766px){
	#text_app_det{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	#title_det{
		margin: 0;
		h1{
			text-align: center;
			font-size: 1em;
		}
	}
	#mainimg_content_det{
		width: 240px;
		height: 240px;
		float: none;
	}
	#content_det{
		p{font-size: 0.9em;}
		h1{font-size: 1.7em;}
		h2{font-size: 1.6em;}
		h3{font-size: 1.5em;}
		h4{font-size: 1.3em;}
		h5{font-size: 1.1em;}
		h6{font-size: 1em;}
		ul{
			padding-left: 20px;
			li, p{font-size: 0.9em;color: #B0C3CC;}
		}
		ol{
			padding-left: 20px;
			li, p{font-size: 0.9em;color: #B0C3CC;}
		}
		blockquote{padding: 0 20px 0 20px;}
		.emojione{max-width: 20px;}
		mark{font-size: 0.9em;}
		dl{
			font-size: 0.9em;
			dd{margin-left: 20px;}
		}
		abbr{font-size: 0.9em;}
	
		.progress{
			margin: 5px;
			height: 14px;
		}
		.thin{
			margin: 5px;
			height: 6px;
		}
	
		.tabbed-set {
			label {
				font-size: 1em;
				padding: 8px;
			}
		}
		.MathJax_Preview{
			font-size: 0.9em;
		}
	}
	#likes_and_comments{
		font-size: 1em;
		font-family: "Rubik";
		color: $bck_main_color;
	}
	#likes{
		justify-content: center;
		.reaction{
			margin: 5px;
		}
	} 
}