@media only screen and (min-width : 1024px) and (max-width : 1200px){
	//параметры статьи
	.text_param{
		font-size: 14px;
		margin: 8px 0 0 5px;
	}
	//content
	#text_app_det h1{
		font-size: 1.2em;
	}
	#mainimg_content_det{
		width: 260px;
		height: 260px;
	}
}