@media only screen and (min-width : 320px) and (max-width : 766px){
	#normal_size_app{
		height: 100%;
		width: 100%;
		margin: 100px 15px 15px 15px;
	}
	#mobile_adaptetion{
		display: block;
		p, mytext{
			margin-top: 10px;
			font-size: 2em;
			font-family: "Rubik";
			color: $bck_main_color;

		}
		strong{
			color: $text_selected_app_color;
		}
	}
	.dark-mode{
		#mobile_adaptetion{
			p, mytext{
				color: $text_app_color;
			}
		}
	}
	#formsettings{
		display: none;
	}
	#article_normal_size_block{
		height: 500px;
	}
}