{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            <div id="text_app">{{meta_title}}</div>
        </div>
        <div id="article_normal_size_block">
            {% if data %}
                {% for a, user_data in data %}
                    <article>
                        <div class="article_about_art">
                            <div class="text_art">
                                <div class="text_main_art">
                                    <div class="second_text_main_art">
                                        <div class="image">
                                            <img src="{{ a.article_picture.url}}" alt="{{ post.article_picture_alt }}">
                                        </div>
                                        <a href="{% url 'detail' a.id %}">
                                            <h2>{{a.article_title}}</h2>
                                            <p>{{a.article_small_text}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="param_art">
									<div class="param_art_left">
										<div class="icons_param like">
											<i class="fas fa-heart"></i>
											{{a.likes}} реакций
										</div>
										<div class="icons_param comment">
											<i class="fas fa-comment"></i>
											{{a.comments}} комментов
										</div>
										<div class="icons_param date_art">
											<i class="far fa-clock"></i>
											{{a.pub_date|date:'d.m.Y'}}
										</div>
									</div>
									<div class="param_art_right">
										{{a.time_to_read}} мин чтения
									</div>
								</div>
                            </div>
						</div>
						<div class="author">
							<div class="author_author">
                                <a href="{% url 'user_id' a.author_id %}">
                                    <img src="{{ user_data.0 }}">
                                    <h4>{{user_data.1}}</h4>
                                </a>
							</div>
							<div class="heshteg_author">
                                {% for tag in a.tagArticle %}
                                    {% if tag == a.tagArticle.0 %}
                                        <a class="iskl" href="{% url 'tags' tag %}">#{{tag}}</a>
                                    {% else %}
                                        <a href="{% url 'tags' tag %}">#{{tag}}</a>
                                    {% endif %}
                                {% endfor %}
							</div>
						</div>
                    </article>
                    {% if a.id == adver1 %}
                        <div class="advertising"></div>
                    {% endif %}
                    {% if a.id == adver2 %}
                        <div class="advertising"></div>
                    {% endif %}
                    {% if a.id == adver3 %}
                        <div class="advertising"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="title_main_art">
                    Ничего не найдено<br><br>
                    (；⌣̀_⌣́)
                </div>
            {% endif %}
        </div>
        <nav id="paginator">
            <ul class="pagination text-center paginator_custom">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a href="?page={{ posts.previous_page_number }}" class="page-link">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    {% if posts.has_previous  %}
                        {% if 1 != posts.previous_page_number %}
                            <li class="page-item"><a href="?page=1" class="page-link">1</a></li>
                        {% endif %}
                        {% if previous_page > 0  %}
                            <li class="page-item ellipsis"></li>
                        {% endif %}
                        <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="page-link">{{ posts.previous_page_number }}</a></li>
                    {% endif %}
                    <li class="page-item active" aria-current="page">
                    <a href="?page={{ i }}" class="page-link" tabindex="-1">{{ i }}</a>
                    </li>
                    {% if posts.has_next  %}
                        <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="page-link">{{ posts.next_page_number }}</a></li>
                        {% if nex_page < posts.paginator.num_pages  %}
                            <li class="page-item ellipsis"></li>
                        {% endif %}
                        {% if posts.paginator.num_pages != posts.next_page_number %}
                            <li class="page-item"><a href="?page={{ posts.paginator.num_pages }}" class="page-link">{{ posts.paginator.num_pages }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a href="?page={{ posts.next_page_number }}" class="page-link">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>

<div id="rigth_sounbar">
    <div id="news">
        <div id="body_news">
            <div id="block_news_title">
                <div id="text_news_news">Сегодня</div>
            </div>
            <div id="block_news">
                <div id="icon">
                    <i class="fas fa-angle-double-right"></i>
                </div>
                <div id="text_news">
                    <div id="text_news_day">{{day_text}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="tags">
        <div id="body_tags">
            <div id="body_tags_title">
                <h3>Популярные теги</h3>
            </div>
            <div class="overflow-y-hidden overflow-y-md-auto tags_list">
                <ul>
                    {% for tag in allTags %}
                        <li><a href="{% url 'tags' tag %}">#{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}