{% extends 'index.html' %}
{% load markdown_extras %}

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="maintext_content_det">
            <div id="title_det">
                <div id="text_app_det">
                    <div id="mainimg_content_det">
                        <img src="{{ article.article_picture.url}}" alt="{{ article.article_picture_alt }}">
                    </div>
                    <h1>{{article.article_title}}</h1>
                </div>
            </div>
            <div class="param_art">
                <div class="param_art_left">
                    <div class="icons_param like">
                        <i class="fas fa-heart"></i>
                        {{article.likes}} реакций
                    </div>
                    <div class="icons_param comment">
                        <i class="fas fa-comment"></i>
                        {{article.comments}} комментов
                    </div>
                    <div class="icons_param date_art">
                        <i class="far fa-clock"></i>
                        {{article.pub_date|date:'d.m.Y'}}
                    </div>
                </div>
                <div class="param_art_right" id="time_to_read">
                    {{article.time_to_read}} мин чтения
                </div>
            </div>
        </div>
        <div id="content_det">
            {{article.article_content_md | markdown | safe}}
        </div>
        <div id="likes_and_comments">
<!--            <p>Если вам понравилась статья, то поддержите ее лайком. Такая реакция будет мотивировать меня на улучшение этого сайта.</p>-->
            <div id="likes">
                <div class="reaction">
                    <form action="{% url 'detail' article.id %}" method="POST">
                        {% csrf_token %}
                        <button><i class="fas fa-heart"></i></button>
                    </form>
                    <div class="text_with_like">
                        {{article.likes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="rigth_sounbar">
    <div id="news">
        <div id="body_news">
            <div id="block_news_title">
                <div id="text_news_news">Сегодня</div>
            </div>
            <div id="block_news">
                <div id="icon">
                    <i class="fas fa-angle-double-right"></i>
                </div>
                <div id="text_news">
                    <div id="text_news_day">{{day_text}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="tags">
        <div id="body_tags">
            <div id="body_tags_title">
                <h3>Популярные теги</h3>
            </div>
            <div class="overflow-y-hidden overflow-y-md-auto tags_list">
                <ul>
                    {% for tag in allTags %}
                        <li><a href="{% url 'tags' tag %}">#{{tag}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}