{% extends 'index.html' %}
{% load markdown_extras %}

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            {% if new_or_old == 1 %}
                <div id="text_app">новая статья</div>
            {% else %}
                <div id="text_app">редактирование</div>
            {% endif %}
        </div>
        <div id="article_normal_size_block">
            <div id="formsettings">
                {% if new_or_old == 1 %}
                    <form action="{% url 'newArticle' %}" method="post" enctype="multipart/form-data" id="form">
                {% else %}
                    <form action="{% url 'editarticle' article.id %}" method="post" enctype="multipart/form-data" id="form">
                {% endif %}
                    {% csrf_token %}
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.article_title.id_for_label }}">Заголовок</label>
                            {{ form.article_title }}
                            <div class="memo">Заголовок</div>
                        </div>
                    </div>
                    <div class="imageform">
                        {{ form.article_picture }}
                        <label for="{{ form.article_picture.id_for_label }}">
							<i class="fas fa-image"></i>
							Выберите картинку
						</label>
                        {% if new_or_old == 1 %}
                            <img src="../../static/img/default/default.jpg" height="200" alt="Profile Image" id="profile_image">
                        {% else %}
                            <img src="{{ article.article_picture.url }}" height="200" alt="Profile Image" id="profile_image">
                        {% endif %}
                        {{ form.article_picture.errors }}
                    </div>
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.article_small_text.id_for_label }}">Краткое описание</label>
                            {{ form.article_small_text }}
                            <div class="memo">Краткое описание</div>
                            {{ form.article_small_text.errors }}
                        </div>
                    </div>
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.myfield.id_for_label }}">Ввод</label>
                            {{ form.myfield }}
                            {{ form.myfield.errors }}
                        </div>
                    </div>
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.tagArticle.id_for_label }}">Тэги</label>
                            <div class="memo">Это поле обязательное к заполнению. Выбрать можно до 5 тэгов.</div>
                            {{ form.tagArticle }}
                            {{ form.tagArticle.errors }}
                        </div>
                    </div>
                    {% if new_or_old == 1 %}
                        <input class="btn btn-success btn-save-custom" type="submit" value="Опубликовать">
                    {% else %}
                        <input class="btn btn-success btn-save-custom" type="submit" value="Сохранить">
                    {% endif %}
                </form>
                {{ form.media }}
            </div>
        </div>
    </div>
</div>
{% endblock %}