//общий блок
nav{
	position: absolute;
	width: 100%;
	height: 100px;
	background: #202833;
	margin: 0 auto;
	z-index: 3;
}
//ограничение в ширине
.hamburger-menu{
	display: none;
}
#normal_size{
	max-width: 1400px;
	height: inherit;
	//background: #D7924A;
	margin: 0 auto;
}
//логотип
.logo{
	width: 26%;
	height: inherit;
	float: left;
	//background: #E1BA44;
	img{
		position: relative;
		top: 11px;
		left: 7.6%;
	}
}

//менюшка
menu{
	float: left;
	padding: 0;
	margin: 0;
	width: 42%;
	height: 100px;
	//background: #EBEA46;
	ul{
		width: 100%;
		height: inherit;
		margin: 0;
		padding: 0;
		text-align: center;
    	list-style: none;
	}
	li{
		margin-left: 20px;
		height: 20px;
		margin-top: 40px;
		width: auto;
		//background: #915745;
		display: inline-block;
	}
	a{
		display: inline-block;
		width: 100%;
		text-decoration: none;
		font-weight: 600;
		font-size: 19px;
		color: #46A29F;
		cursor: pointer;
		transition: 0.3s;
	}
	a:after {
		display: block;
		margin-top: 8px;
		content: "";
		height: 2px;
		width: 0%;
		background-color: #68FAF2;
		transition: width .3s ease-in-out;
	}
	a:hover:after,
	a:focus:after {
		width: 100%;
	}
	a:hover{
		color: #68FAF2;
		transition: 0.3s;
	}
}
.iskl{
	margin-left: 0;
}

//поиск
#find{
	float: left;
	width: 16%;
	height: 100px;
	//background: #B0E074;
}
.icon{
	height: 50px;
	width: 50px;
	margin: 25px 0 0 60%;
	//background: #D740C4;
}
.icon :hover{fill: #fff;}
//всплывающее окно поиска
#findPlace{
	width: 100%;
	height: 230px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#okno {
	width: 100%;
	height: 130px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 100px;;
	background: #E4E6E8;
}
#form_normal_size{
	float: left;
	width: 90%;
	height: inherit;
	form{
		height: inherit;
		width: 80%;
		margin: 0 auto;
	}
	input{
		width: 500px;
		height: 60px;
		margin: 35px 0 0 27%;
		background: none;
		border: none;
		font-weight: 600;
		font-size: 24px;
		color: #202833;
  		outline:none;
	}
}
#findPlace:target {display: block;}

//крестик закрытия модального окна
.close {
	float: left;
	width: 10%;
	height: 130px;
	text-decoration: none;
	cursor:pointer;
	img{
		margin: 40px 0 0 33%;
	}
}
.close:hover {background: #e6e6ff;}
//иконка входа/выхода
#login{
	float: left;
	width: 16%;
	height: 100px;
	//background: #5C2656;
}
.endicon{
	margin: 25px 0 0 32%;
}