{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="login_block">
            <h1>Вход</h1>
            <p>Пожалуйста, заполните следующие поля для входа в систему. Если у вас нет учетной записи <a href="/register/">зарегистрироваться тут!</a></p>
            {% if form.errors %}
                <p>Ваше имя и пароль не совпадают. Попробуйте снова.😔</p>
            {% endif %}
            <div id="login-form_user">
                <div id="formsettings">
                    <form id="user_form" action="{% url 'login' %}" method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <p><a href='{% url "password_reset" %}'>Забыли свой пароль?</a></p>
                        <div id="social_login">
                            Или выполните вход через социальные сети
                            <a href="/login/vk-oauth2">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}">
                                <i class="fa fa-google" aria-hidden="true"></i>
                            </a>
                        </div>
                        <input type="submit" class="btn btn-success btn-save-custom" name="SendMess" value="Войти">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}