{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            <div id="text_app">Пароль изменен</div>
        </div>
        <div id="login_block">
            <h1>Ваш пароль был успешно изменен</h1>
            <p><a href='{% url "login" %}'>Войти</a> в аккаунт.</p>
        </div>
    </div>
</div>
{% endblock %}