{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            <div id="text_app">Забыли ваш пароль?</div>
        </div>
        <div id="article_normal_size_block">
            <div id="formsettings">
                <form id="user_form" action="." method="post">
                    {% csrf_token %}
                    <div class="textform">
                        <div class="inputlist">
                            <label for="id_email">Адрес электронной почты:</label>
                            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email">
                            <div class="memo">Введите адрес вашей электронной почты, что бы обновить пароль</div>
                        </div>
                    </div>
                    <input class="btn btn-success btn-save-custom" type="submit" name="SendMess" value="Отправить письмо">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}