{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            <div id="text_app">Изменение пароля</div>
        </div>
        <div id="article_normal_size_block">
            <div id="formsettings">
                <form id="form" action="." method="post">
                    {% csrf_token %}
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
                            {{ form.old_password }}
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                            {{ form.new_password1 }}
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="memo">
                            <ul><li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li><li>Ваш пароль должен содержать как минимум 8 символов.</li><li>Пароль не должен быть слишком простым и распространенным.</li><li>Пароль не может состоять только из цифр.</li></ul>
                        </div>
                    </div>
                    <div class="textform">
                        <div class="inputlist">
                            <label for="{{ form.new_password2.id_for_label }}">Подтверждение нового пароля</label>
                            {{ form.new_password2 }}
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                    <input class="btn btn-success btn-save-custom" type="submit" name="SendMess" value="Изменить">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}