{% extends 'index.html' %} <!-- подключаем базовый шаблон -->

{% block content %}
<div id="app">
    <div id="normal_size_app">
        <div id="title">
            <div id="color_topic"></div>
            <div id="text_app_heshteg">#</div>
            <div id="text_app">Изменение пароля</div>
        </div>
        <div id="login_block">
            <p>Мы отправили вам по электронной почте инструкцию по смене пароля.</p>
            <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, который указывали при регистрации.</p>
        </div>
    </div>
</div>
{% endblock %}