footer{
	width: 100%;
	height: 400px;
	background: #202833;
}
#upstairs_footer{
	height: 300px;
	width: 100%;
}
#downstairs_footer{
	height: 100px;
	width: 100%;
	background: #16171F;
}
#copyright{
	float: left;
	width: 58%;
	height: inherit;
}
#copyright_norm_size{
	height: 40px;
	width: 190px;
	margin:30px 0 0 20%;
	img{
		float: left;
	}
}
#copyright_text{
	float: left;
	width: 150px;
	font-size: 18px;
	margin-top: 10px;
	color: #60EFE5;
}
#upstairs_footer_norm_size{
	width: 94%;
	margin-left: 60px;
	height: 100%;
}
.class_footer{
	width: 33%;
	height: 100%;
	float: left;
}
.border_footer{
	border-right: 1px solid #181E25; 
}
.logo_and_social_footer{
	height: 150px;
	width: 100%;
	img{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
#titel_footer_social{
	height: 50%;
	width: 100%;
	text-align: center;
}
#icon_footer_social{
	height: 50%;
	width: 100%;
}
#text_titel_footer_social{
	color: #46A29F;
	font-size: 25px;
	padding-top: 20px;
}
#norm_size_icon_social{
	width: 210px;
	height: 60px;
	margin: 0 auto;
}
.icon_place{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 15px;
	transition: 0.5s;
}
.icon_place:hover{
	cursor: pointer;
	fill: #41E8E2;
	transition: 0.5s;
}
.first{
	margin-left: 0;
}
.title_art_footer{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	color: #68FAF2;
	font-weight: 900;
	font-size: 30px;
	font-family: 'Rubik Bold';
}
.random_article_footer{
	width: 100%;
	height: 130px;
}
.norm_size_random_art{
	width: 250px;
	height: 80px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	img{
		float: left;
	}
}
.text_random_art_footer{
	float: left;
	height: 100%;
	width: 160px;
	margin: 0 5px 0 5px;
	color: #CCD1DD;
	font-size: 12px;
}
#contact_form{
	width: 260px;
	height: 240px;
	margin: 5px auto;
	text-align: center;
	input{
		width: 255px;
		height: 35px;
		border: 1px solid #FFFFFF;
		border-radius: 10px;
		margin-top: 10px;
		background: none;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
	}
	textarea{
		width: 255px;
		height: 80px;
		border: 1px solid #FFFFFF;
		border-radius: 10px;
		margin-top: 10px;
		background: none;
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		resize: none;
	}
	textarea:focus, input:focus{
		outline: none;
		border: 1px solid #386AE8;
	}
}
#button_footer_send{
	input{
		width: 160px;
		height: 30px;
		float: right;
		background: #386AE8;
		border: none;
		border-radius: 10px;
	}
	input:hover{
		background: #507EF2;
		cursor: pointer;
	}
}