.fa-caret-down {
  margin-left: 5px;
}

.settings_menu {
  overflow: hidden;
  background: #FFFFFF;
  border: #202833 solid 1px;
  position: relative;
  right: 50px;
  margin: 0;
  border-radius: 5px;
  width: 150px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.settings_menu li {
  float: left;
  padding: 0 5px;
  width: 100%;
  margin: 0;
}

.settings_menu li:hover {
  background: #DADADA;
}

.settings_menu li a {
  color: #202833;
  text-decoration: none;
  font-family: "Rubik";
  font-size: 1em;
}

.settings_menu .quit:hover {
  background: #EB4C42;
}

.settings_menu .quit:hover a {
  color: #FFFFFF;
}

.login {
  width: 60px;
  height: 50px;
}

.login:hover .settings_menu {
  display: block;
  animation: fadeInRight .3s ease;
  -webkit-animation: fadeInRight .3s ease;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

#normal_size_app {
  height: 100%;
  width: 90%;
  margin: 110px 15px 15px 100px;
}

#mobile_adaptetion {
  display: none;
}

#text_app {
  white-space: nowrap;
}

#block_meta {
  width: 100%;
  min-height: 50px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Rubik";
  font-size: 1em;
  color: #202833;
}

#block_meta i {
  color: #386AE8;
  margin-right: 5px;
}

#block_meta a {
  text-decoration: none;
  font-family: "Hack";
  color: #EB4C42;
}

.metaline {
  width: 100%;
  padding: 5px 10px 5px 10px;
}

#addarticle_block {
  width: 100%;
  height: 80px;
}

#icon_add_article {
  width: inherit;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#icon_add_article button {
  width: 60px;
  height: 60px;
  background-color: #46AF69;
  margin-top: 40px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

#icon_add_article button i {
  font-size: 2em;
  color: #fff;
}

#icon_add_article button:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1s;
  transition: 1s;
}

#footer_add {
  width: inherit;
  height: 40px;
  background: #50C878;
}

#addarticle_text {
  width: 100%;
  height: auto;
}

#addarticle_text_support {
  padding: 10px;
  font-size: 1em;
  font-family: "Rubik";
  color: #202833;
  text-align: center;
}

#formsettings {
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#formsettings form {
  width: 100%;
}

.textform {
  margin: 10px 0;
  width: 100%;
}

.inputlist {
  padding: 5px;
}

.inputlist label {
  font-size: 1.5em;
  font-family: "Rubik";
  color: #EEF0F1;
}

.inputlist textarea {
  width: 100%;
  resize: vertical;
}

.inputlist ul {
  margin-top: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.inputlist li {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.memo {
  font-size: 1em;
  font-family: "Rubik";
  color: #8D8E8F;
  margin-top: 3px;
}

#dateform {
  width: 150px;
}

.imageform {
  width: 100%;
  height: auto;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.imageform img {
  width: 280px;
  height: 280px;
  border-radius: 5px;
}

.imageform input {
  display: none;
}

.imageform label {
  margin-top: 10px;
  width: 280px;
  height: 40px;
  background: #386AE8;
  border-radius: 5px;
  padding: 10px;
  font-family: "Hack";
  font-size: 1em;
  color: #fff;
}

.btn-save-custom {
  margin-bottom: 20px;
  float: left;
}

#editor-label {
  font-size: 1.5em;
  font-family: "Rubik";
  color: #EEF0F1;
  text-align: center;
  width: 100%;
}

#nt-editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.markdownx {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.markdownx textarea {
  min-height: 500px;
  width: 48%;
}

.markdownx .markdownx-preview {
  padding: 5px;
  width: 48%;
  border-radius: 5px;
  background: #2D3847;
}

#content_det {
  width: 48%;
}

.dark-mode #title_acc {
  -webkit-box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
          box-shadow: 0 0 0 1px rgba(8, 9, 10, 0.1);
}

.dark-mode .inputlist label {
  color: #202833;
}

@media only screen and (min-width: 766px) and (max-width: 1024px) {
  #normal_size_app {
    height: 100%;
    width: 100%;
    margin: 100px 15px 15px 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 766px) {
  #normal_size_app {
    height: 100%;
    width: 100%;
    margin: 100px 15px 15px 15px;
  }
  #mobile_adaptetion {
    display: block;
  }
  #mobile_adaptetion p, #mobile_adaptetion mytext {
    margin-top: 10px;
    font-size: 2em;
    font-family: "Rubik";
    color: #EEF0F1;
  }
  #mobile_adaptetion strong {
    color: #386AE8;
  }
  .dark-mode #mobile_adaptetion p, .dark-mode #mobile_adaptetion mytext {
    color: #202833;
  }
  #formsettings {
    display: none;
  }
  #article_normal_size_block {
    height: 500px;
  }
}
/*# sourceMappingURL=newarticle.css.map */